		<!DOCTYPE html>
		{% load static %}
		<head>
	
			<html lang="en">
	
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 
			<title>Simple calculator</title>
	
			<link rel="stylesheet" href="{% static '/style.css' %}">	

			<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
			
		</head>
		<body>
	      <center> <h1 style="color:white">CALUCLATOR</h1> </center>
			<div id="container">
				<div id="calculator">
					<form method="POST" action="calc">
						{% csrf_token %}
					<div class="result">
						<span id="ques">{{values}}</span>
						<input type="text" style="font-size:25px;" name="values" id= "result" placeholder="0" value={{result}}>
					  </div>
	
					<div id="keyboard">
						<input type="button" id="clean"  class="operator" value="C" onclick="result.value=''"/>
						<input type="button" class="empty" id="empty"/>
						<input type="button" class="empty" id="empty"/>
						<input class="operator" id="clean"  type="button" value="÷" name="/" onclick="insertTextInInputValue('/');"/>
						<input class="number" type="button" value="7" name="7" onclick="insertTextInInputValue(7);"/>
						<input class="number" type="button" value="8" name="8" onclick="insertTextInInputValue(8);"/>
						<input class="number" type="button" value="9" name="9" onclick="insertTextInInputValue(9);"/>
						<input class="operator" id="clean" type="button" value="x" name="x" onclick="insertTextInInputValue('x');"/>

						<input class="number" type="button" value="6" name="6" onclick="insertTextInInputValue(6);"/>
						<input class="number" type="button" value="5" name="5" onclick="insertTextInInputValue(5);"/>
						<input class="number" type="button" value="4" name="4" onclick="insertTextInInputValue(4);"/>
						<input class="operator" id="clean"  type="button" value="-" name="-" onclick="insertTextInInputValue('-');"/>
	
						<input class="number" type="button" value="3" name="3" onclick="insertTextInInputValue(3);"/>
						<input class="number" type="button" value="2" name="2" onclick="insertTextInInputValue(2);"/>
						<input class="number" type="button" value="1" name="1" onclick="insertTextInInputValue(1);"/>
	                    <input class="operator" id="clean"  type="button" value="+" name="+" onclick="insertTextInInputValue('+');"/>
						<input type="button" class="empty" id="empty"/>
						<input class="number" type="button" value="0" name="0" onclick="insertTextInInputValue(0);"/>
						<input type="button" class="empty" id="empty"/>
						<input class="operator" id="clean"  type="submit" value="=" name="=" />
					</div>
				</form>
				</div>
			</div>
			<script>
				function insertTextInInputValue(buttonValueIs){
							var inputElementIs = document.getElementById("result");
							inputElementIs.value =  inputElementIs.value + buttonValueIs;
							$('#result').val(inputElementIs.value)
					  }
			  </script>
	
		</body>
	
	</html>       